
/* ================== CUSTOM CSS ================== */

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #444444;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  line-height: 70px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

a {
  font-size: 13px;
  color: #444444;
  text-decoration: none;
}

/* ================== PRODUCT LIST CSS ================== */

.product-list {
  margin-top: 20px;
  list-style: none;
}

.product-item-name {
  font-size: 19px;
}

.product-item:hover {
  background-color: #f2f2f2;
}

.product-item-media {
  width: 100%;
  max-height: 100%;
  clear: both;
}

.bottom-stick > a {
  display: inline-block;
    position: absolute;
    bottom: 0;
    float: right;
}

/* ================== SMALL PRODUCT ITEMS CSS ================== */

.product-item-small {
  padding: 25px;
  border-radius: 4px;
  height: 200px;
}

.product-item-small-info {
  padding: 15px 20px;
  height: 130px;
}

.product-item-info p {
  color: #999999;
  font-size: 14px;
}

.small-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: right;
  margin-right: 5px;
  padding: 3px;
}

.small-avatar-name {
  display: inline-block;
  float: right;
  margin: 17px 7px;
}

.small-avatar-name:hover {
  color: black;
}


/* ================== MEDIUM PRODUCT ITEMS CSS ================== */
.product-item-medium {
  padding: 25px;
  border-radius: 4px;
  height: 200px;
}

.product-item:hover {
  background-color: #f2f2f2;
}

.product-item-medium-info {
  padding: 15px 20px;
  height: 130px;
}

.product-item-name {
  font-size: 19px;
}

.product-item-info p {
  color: #999999;
  font-size: 14px;
}

.medium-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.medium-avatar-name {
  display: inline-block;
  float: right;
  margin: 32px 7px;
}

/* ================== UPVOTE BUTTON CSS ================== */


.upvote-button {
  font-weight: 800;
  width: 30px;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  display: block;
  right: 5%;
  padding: 15px;
}

.upvote-button:hover {
  color: #5e9aee;
}

.upvote-button.active {
  color: #5e9aee;
}

.upvote-button > * {
  display: block;
  padding: 3px;
}

.upvote-button-small {
  position: absolute;
}
